# general server configuration
# BOOLHUB_CENTRAL_PATH =
# BOOLHUB_BACKUPS_PATH =
# SERVER_IP =

# influx database
# INFLUXDB_HOST =
# INFLUXDB_PORT =
# INFLUXDB_TOKEN =
# INFLUXDB_ORGANIZATION =

# postgresql database
# POSTGRE_HOST =
# POSTGRE_PORT =
# POSTGRE_PASSWORD =
# POSTGRE_NAME =
# POSTGRE_USER =

# ntfy server
# NTFY_SERVER_URL=