<!doctype html>

{% load static %}

<HTML lang="pl">

  <HEAD>

    <!-- Metadata -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Page title -->
    <title>{% block title %}{% endblock %}</title>

    <!-- Loading bootstrap -->
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% bootstrap_messages %}

  </HEAD>

  <BODY>

    <!-- Navbar -->
    {% include "navbar.html" %}

    <!-- Content -->
    <div>

      {% block content %}
        <center>
          <h1>Strona główna</h1>
          <h4>Tutaj należałoby umieścić interaktywną mapę pomieszczenia z najnowszymi danymi z danego pomieszczenia</h4>
        </center>
      {% endblock %}
      
    </div>

  </BODY>

</HTML>