{% extends "base.html" %}

{% load static %}

{% block title %}BoolHub{% endblock %}

{% block content %}

    <!-- Main container -->
    <div class="container d-flex justify-content-center w-100">

        <div class="list-group w-50">
            <a href="http://localhost:3000/d/F8x_fd14z/powietrze?orgId=1&kiosk&refresh=60s" type="button" class="list-group-item list-group-item-action text-center m-1">Air</a>
            <a href="http://localhost:3000/d/cce53fdf-217c-409b-9b44-0c91e47b3ac7/pogoda?orgId=1&kiosk&from=now&to=now%2B24h&refresh=60s" type="button" class="list-group-item list-group-item-action text-center m-1">Weather</a>
            <a href="http://localhost:3000/d/YRGtmDi4z/siec?orgId=1&kiosk&refresh=60s" type="button" class="list-group-item list-group-item-action text-center m-1">Network</a>
            <a href="http://localhost:3000/d/e2edc076-5dd9-4609-863a-34bb97f70f07/wewnetrzne-statystyki?orgId=1&kiosk&refresh=60s" type="button" class="list-group-item list-group-item-action text-center m-1">Diagnostics</a>
            <a href="/admin" type="button" class="list-group-item list-group-item-action text-center m-1">Settings</a>
        </div>

    </div>

{% endblock %}
