{% extends "base.html" %}

{% block title %}BoolHub{% endblock %}

{% block content %}

    <!-- main container -->
    <div class="lighting-box">

        <!-- left column -->
        <div class="lighting-container col-md-4">

            <!-- salon container -->
            <div class="lighting-room lighting-room-salon p-2 m-2 row">
                
                <!-- name of room -->
                <h1>{{ salon.name|title }}</h1>

                <!-- iteration over each lighting device in salon -->
                {% for device in salon.device_set.all %}

                    {% if device.category == "light" %}

                        <!-- power toggle button -->
                        <form method="GET" action="/lighting/device/{{device.id}}">
                            <button type="submit" class="btn btn-primary">{{device.name}}</button>
                        </form>

                    {% endif %}

                {% endfor %}

            </div>

        </div>

        <!-- right column -->
        <div class="lighting-container col-md-4">

            <!-- bedroom container -->
            <div class="lighting-room lighting-room-bedroom p-2 m-2 row">

                <!-- name of room -->
                <h1>{{ sypialnia.name|title }}</h1>

                <!-- iteration over each lighting device in bedroom -->
                {% for device in sypialnia.device_set.all %}

                    {% if device.category == "light" %}

                        <!-- power toggle button -->
                        <form method="GET" action="#">
                            <button type="submit" class="btn btn-primary">{{device.name}}</button>
                        </form>

                    {% endif %}

                {% endfor %}

            </div>

            <!-- bathroom container -->
            <div class="lighting-room lighting-room-bathroom p-2 m-2 row">

                <!-- name of room -->
                <h1>{{ łazienka.name|title }}</h1>

                <!-- iteration over each lighting device in bathroom -->
                {% for device in łazienka.device_set.all %}

                    {% if device.category == "light" %}

                        <!-- power toggle button -->
                        <form method="GET" action="/lighting/device/{{device.id}}">
                            <button type="submit" class="btn btn-primary">{{device.name}}</button>
                        </form>

                    {% endif %}

                {% endfor %}

            </div>

        </div>

    </div>

{% endblock %}