<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">

    <!-- Main container -->
    <div class="container-fluid">

        <!-- Home logo -->
        <a class="navbar-brand" href="#">BoolHub</a>

        <!-- Buttons -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <!--Buttons unordered list -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <!-- Monitoring dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Monitoring
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Sieć</a></li>
                        <li><a class="dropdown-item" href="#">Powietrze</a></li>
                    </ul>
                </li>

            </ul>

        </div>

    </div>

</nav>