/* base and mobile */
html,
body {
  height: 100%;
  margin: 0;
  overflow: visible;
  background: linear-gradient(180.2deg, rgb(30, 33, 48) 6.8%, rgb(74, 98, 110) 131%);
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}
.box .row.header {
  flex: 0 1 auto;
}
.box .row.content {
  flex: 1 1 auto;
}
.box .row.footer {
  flex: 0 1 40px;
}

.tile{
  width: 40%;
  margin: 5%;
  padding: 5%;
  background: white;
  border-radius: 15%;
}
.tile-image{
  width: 40%;
  height: 40%;
}
.tile-title{
  color: black;
}

.lighting-box {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #111217;
}
.lighting-container {
  align-items: center;
  justify-content: center;
  height: 50%;
}
.lighting-room {
  color: white;
  border-radius: 10px;
  justify-content: center;
}
.lighting-room-salon {
  background-color: #14A44D;
  height: 94%;
}
.lighting-room-bedroom {
  background-color: #E4A11B;
  height: 46%;
}
.lighting-room-bathroom {
  background-color: #54B4D3;
  height: 46%;
}



/* tablet */
@media screen and (max-width: 1366px) and (orientation: landscape){
  html,
  body {
    overflow: hidden;
  }
  .tile{
    width: 20%;
    margin: 3% 2.5% 3% 2.5%;
    padding: 2%;
  }
  .tile-image{
    width: 80%;
    height: 100%;
  }
  .lighting-container {
    align-items: center;
    justify-content: center;
    height: 80%;
  }
}



/* desktop */
@media screen and (min-width: 1366px) {
  html,
  body {
    overflow: hidden;
  }
  .tile-image{
    width: 50%;
    height: 100%;
  }
  .lighting-container {
    align-items: center;
    justify-content: center;
    height: 50%;
  }
}
