/* General */

body {
  margin: 0;
  padding: 0;
  color: white;
  overflow: hidden;
  font-family: "Ubuntu", sans-serif;
}

/* Panels */

#main-panel {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Left Panel */

#left-panel {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #252526;
}

#clock {
  width: 90%;
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 0.5;
}

#weather {
  width: 90%;
  height: 20%;
  display: flex;
}

#notifications {
  width: 90%;
  height: 40%;
  display: flex;
}

#householders {
  display: flex;
  width: 90%;
  height: 20%;
  display: flex;
}

/* Right Panel */

#right-panel {
  width: 75%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #2d2d30;
}

#render-pattern {
  width: 95%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#navigation-menu {
  width: 90%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background-color: #252526;
}

#navigation-menu li {
  display: inline-block;
}

.navigation-menu-tile {
  width: auto;
  margin: 1% 3% 1% 3%;
  padding: 1% 3% 1% 3%;
}

/* Settings */

#settings-main {
  width: 95%;
  height: 95%;
  overflow: scroll;
}
